<%- include('./partials/head') %>

<main>
    <section>
        <h1>Welkom bij de chat van Vini Mini</h1>
        <ul></ul>
        <form>
            <input type="text" autocomplete="off" />
            <button><span>Verstuur</span></button>
        </form>
    </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/script.js"></script>
<%- include('./partials/foot') %>
